@font-face{
    font-family: "Hack-Regular";
    src: url("fonts/Hack-Regular.ttf");
}

html, body{
    margin: 0px;
    width: 100%;
    height: 100%;
/*    overflow: hidden;*/
}

#liveCodingTextArea{

    background-color: transparent;
    border: none;
    resize: none;
    width: 188mm;
    height: 250mm;
    margin: 0px;
    -webkit-transition: font-size 1s; /* Safari */
    transition: font-size 1s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    overflow: hidden;
    z-index: 10;
}

.liveCodingFont{
    font-family: "Hack-Regular";
    font-size: 18pt;
    line-height: 22pt;
     margin: 0px;
    letter-spacing: 0px;
}
