html {
    font-size: 0px;
}

.u {
    overflow: hidden;
    font-family: monospace;
    display: inline-block;
    outline: none;
   /*outline: solid 1px;*/
    text-align: center;
    user-select: none;
}
