


* {
    margin: 0;
    padding: 0;
}

@page {
        size: A4;
        margin-left: 0mm;
        margin-top: 0mm;
        margin-right: 0mm;
        margin-bottom: 0mm;
}

html, body {
        width: 100%;
        height: 100%;
}

html {
    font-family: consolas,monospace;
}
table {
    background-color: '#FFFFFF';
    border-collapse: collapse;
} 

td {
    color: white;
    background-color: '#FFFFFF';
    /*outline: 1px solid black;*/
}

body > div {
    width: 12.8cm;
    position: absolute;
    top: 0px;
    left: 0px;
    color: white;
}

body > div > span {
    padding: 1px;
    background-color: BLACK;
    font-family: "Hack-Regular";
}

@font-face{
    font-family: "Hack-Regular";
    src: url("fonts/Hack-Regular.ttf");
}

@font-face{
    font-family: "LiberationSerif-Bold";
    src: url("fonts/LiberationSerif-Bold.ttf");
}

@font-face{
    font-family: "LiberationSerif-Regular";
    src: url("fonts/LiberationSerif-Regular.ttf");
}
