html {
    font-family: consolas,monospace;
}
table {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-color: white;
} 

td {
    outline: 1px solid black;
}


@font-face{
    font-family: "Hack-Regular";
    src: url("font/Hack-Regular.ttf");
}
