html {
    font-family: consolas,monospace;
    font-family: "Hack-Regular";
    font-size: 1.5vw;
    background-color: #111111;
}
html,body {
    margin: 0px;
    padding: 0px;
}

table {
    border: 0px solid transparent;
    border-collapse: collapse;
    /*outline: 1px solid grey;*/
} 
tr {
    border: 0px solid transparent;
    border-collapse: collapse;
}
td {
    border: 0px solid transparent;
    border-collapse: collapse;
    border: none;
    margin-left: -1px;
    margin-top: -1px;
    /*outline: 1px solid grey;*/
}

/*FONTS*/

@font-face{
    font-family: "Hack-Regular";
    src: url("fonts/hack/Hack-Regular.ttf");
} 

@font-face {
    font-family: "LiberationSans-Regular";
    src: url("fonts/liberation/LiberationSans-Regular.ttf");
} 

@font-face {
    font-family: "LiberationSans-Italic";
    src: url("fonts/liberation/LiberationSans-Italic.ttf");
} 
@font-face {
    font-family: "LiberationSerif-Regular";
    src: url("fonts/liberation/LiberationSerif-Regular.ttf");
} 

@font-face {
    font-family: "LiberationSerif-Bold";
    src: url("fonts/liberation/LiberationSerif-Bold.ttf");
} 

@font-face {
    font-family: "LiberationSerif-Italic";
    src: url("fonts/liberation/LiberationSerif-Italic.ttf");
} 

@font-face {
    font-family: "LiberationSerif-BoldItalic";
    src: url("fonts/liberation/LiberationSerif-BoldItalic.ttf");
} 

@font-face {
    font-family: "LinLibertine_Bold";
    src: url("fonts/linlibertine/LinLibertine_RBah.ttf");
} 

@font-face {
    font-family: "LinLibertine_BoldItalic";
    src: url("fonts/linlibertine/LinLibertine_RBIah.ttf");
} 

@font-face {
    font-family: "LinLibertine_Regular";
    src: url("fonts/linlibertine/LinLibertine_Rah.ttf");
} 

@font-face {
    font-family: "LinLibertine_RegularItalic";
    src: url("fonts/linlibertine/LinLibertine_RIah.ttf");
} 

/*
@font-face {
    font-family: "LinLibertine_BoldItalic";
    src: url("fonts/linlibertine/LinLibertine_RZIah.ttf");
} 
*/

#flyer {
    position: absolute;
    top: 6mm;
    left: 6mm;
    
    color: black;
    font-family: "LiberationSans-Regular";
    font-size: 22pt;
    /*margin-bottom: 4mm;*/
    /*margin-left: 4mm;*/
    width: 13cm;
}

#flyer * {
    margin-bottom: 2mm;
    margin: 0mm;
}

#text {
    display: none;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
  background-image: url("../flyer_output/BG_FLYER/text/output-4.jpg");
  background-color: red;
  background-blend-mode: multiply;
  z-index: 10000;
  width: 100%;
  height: 100%;

}

#test {
    position: absolute;
    top: 6mm;
    left: 6mm;
    margin-bottom: 4mm;
    margin-left: 4mm;
    width: 13cm;
}
#test span {
    font-size: 80%;
    margin-right: 10px;
    font-family: "LiberationSans-Regular";
    vertical-align: top;
}

#flyer debu {
    font-family: "LinLibertine_RegularItalic";
    /*font-family: "LiberationSans-Regular";*/
}
#flyer orc {
    font-family: "LiberationSans-Regular";
}

#flyer live {
    font-family: "LinLibertine_RegularItalic";

}

#flyer jour {
    font-family: "LiberationSans-Regular";
}

#flyer date {
    /*font-family: "LinLibertine_Regular";*/
    font-family: "LiberationSans-Regular";

}

#flyer mois {
    /*font-family: "LinLibertine_RegularItalic";*/
    font-family: "LiberationSans-Regular";
}

#flyer heure {
    font-family: "LinLibertine_RegularItalic";
}

#flyer lieu {
    font-family: "LiberationSans-Italic";

}


#flyer ville {
    font-family: "LinLibertine_Regular";
}
