*{
        font-weight: normal;
}

html {
    font-family: consolas, monospace;
    background-color: black;
    cursor: none;
    pointer-events: none;
    color: white;
}

body{
    background-color:black;
}

body > h1 {
    display: block;
    position: absolute;
    width: fit-content;
    height: fit-content;
    margin: auto;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
}

table {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-color: black;
    outline: solid;
    outline-width: 1px;
    outline-color: 'rgba(255,255,255,0.65)';
    border-collapse: collapse;
} 

@font-face {
    font-family: "Hack-Regular";
    src: url("fonts/Hack-Regular.ttf");
} 

td {
    border-collapse: collapse;
    border-right:solid;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgba(128,128,128,0.1);
}
